<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapse_target">
        <a class="navbar-brand" href="./">
            <img src="img/beerpint.png">
        </a>
        <h1>favorites</h1>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">LOGOUT</a>
            </li>
        </ul>
    </div>
</nav>