<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand p-0 text-warning" href="#"><img src="../img/beerpint.png" width="50" height="50" alt="BeerMe! logo"><span class="p-3" style="font-size: 1.5rem;">BeerMe!</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/app">SEARCH</a>
            </li>
            <li>
                <a class="nav-link" href="/app/signup">LOGOUT</a>
            </li>
        </ul>
    </div>
</nav>