
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="./">
            <img src="/img/beerpint.png">
        </a>

        <div class="collapse navbar-collapse" id="collapse_target">


            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="login.html">LOG IN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./SignUp/index.html">SIGN UP</a>
                </li>
            </ul>
        </div>
    </nav>
    <header>
        <div class="row">
            <div class="col-12 text-white">
                <p>BeerMe</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-12 text-white">
                <img src="/img/beerlogo2.png" id="craft-beer" />
                <p>FINDING YOU THE BEST CRAFT BEER ATLANTA HAS TO OFFER
                    <br /> ONE BREWERY AT A TIME</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <img src="/img/jekyll_logo.png" id="beer-logo" />
            </div>
            <div class="col-2">
                <img src="/img/mondaynight.jpg" id="beer-logo" />
            </div>
            <div class="col-2">
                <img src="/img/Red-brick-brewing-logo.png" id="beer-logo" />
            </div>
            <div class="col-2">
                <img src="/img/scofflaw.jpg" id="beer-logo" />
            </div>
            <div class="col-2">
                <img src="/img/sweetwaterbrewing.png" id="beer-logo" />
            </div>
            <div class="col-2">
                <img src="/img/threetaverns.png" id="beer-logo" />
            </div>
        </div>
    </div>
    <footer>
        <div class="footer text-white">
            <p>© 2018 BeerMe, Inc.</p>
        </div>
    </footer>
</body>
