<!DOCTYPE html>
<html>

<head>
    <title>BeerMe Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="login.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</head>

<body>

    <!-- Navbar -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapse_target">
        <a class="navbar-brand" href="./">
            <img src="img/beerpint.png">
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.html">HOME</a>
            </li>
        </ul>
    </div>
</nav>
    
    <!-- Login form -->

    <div class="container login">
        <h1>Log in</h1>
        <div class="login-form">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                </div>
                <a href="app.html"><button type="button" class="btn btn-primary btn-submit">Submit</button></a>
            </form>
        </div>
    
        <!-- Other logins -->
    
        <div class="other-logins">
            <div class="facebook">
                <a href="app.html"><button type="button" class="btn btn-lg">Login with Facebook</button></a>
            </div>

            <div class="google">
                <a href="app.html"><button type="button" class="btn btn-lg">Login with Google</button></a>
            </div>
    
        </div>
    </div>
</body>
</html>