<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand p-0 text-warning" href="#"><img src="../img/beerpint.png" width="50" height="50" alt="BeerMe! logo"><span class="p-3" style="font-size: 1.5rem;">BeerMe!</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">HOME</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Login form -->

<div class="container login">
    <h1>Log in</h1>
    <div class="login-form">
        {{#if error}}
        <h1>{{error}}</h1>
        {{/if}}
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
            <a href="/app">
                <button type="submit" class="btn btn-primary btn-submit">Submit</button>
            </a>
        </form>
    </div>

    <!-- Other logins -->
    <div class="other-logins">
        <div class="github">
            <a href="/login/github">
                <button type="button" class="btn btn-lg">Login with GitHub</button>
            </a>
        </div>
        {{!-- <div class="google">
            <a href="/app">
                <button type="button" class="btn btn-lg">Login with Google</button>
            </a>
        </div>  --}}

        
        

    </div>
</div>