body {
    background-image: url("img/beerbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightslategray;
}

body nav a img {
    height: 50px;
    width: auto;
}

div ul {
    text-align: right;
}

header {
    text-align: center;
}

header div img {
    height: 100px;
    width: 250px;
    margin: 50px 0px 0px 0px;
}

header div p {
    margin: 50px 0px 0px 0px;
    font-family: 'Trebuchet MS';
    font-size: 100px;
}

div p {
    font-family: Verdana;
}

.container {
    font-family: Vintage;
    text-align: center;
    width: 960px;
    margin: 0 auto;
    image-orientation: center;
}

.container .row img {
    height: 240px;
    width: 322px;
    margin: 0px 0px 25px 0px;
}

.container .row p {
    margin: 0px 0px 50px 0px;
}

.container .row .col-2 .col-md-6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    background-size: cover;
    margin: 150px 0px 0px 0px
}

footer div p {
    text-align: center;
    clear: both;
}

#beer-logo {
    width: 100%;
    height: auto;
}