html, body {
    height:  100%;
}

body.page-app {
    background-image: none;
}

.beer {
    margin-top: 1rem;
}

.full-height {
    height: 100%;
    padding-top: 56px;
}

.search-results {
    height: 100%;
    overflow: scroll;
    padding-bottom: 56px;
}

#map {
    height: 100%;
    min-height: 300px;
    width: 100%;
}